body {
    background-color: #EEEEEE ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

h1 {
    background-color: #95200B;
    color: white;
}

nav {
    background-color: D02C0F;
}